html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rutas y formularios
    body
     <center>
        h1 Múltipliqueitor
        
        form(action="test", method="POST" style="background-color:lightblue;")
         label(for='numero') Número por el que deseas múltiplicar
         br
         input(id='numero',name='numero',type='number',value='',placeholder='Inserta un número')
         br
         br
         <input type="submit" name="enviar" value="Empezar" style="color:blue;height:60;width:100px;">