html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rutas y formularios
    body
     <center>
         h1 Resultado
         h2!= mensaje 
            form(action="volver", method="POST" style="background-color:lightblue;")
                 <input type="submit" name="Volver" value="Volver" style="color:blue;height:60;width:100px;">