html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Base de datos
    body
        <center>
        h1!= 'Hola Holita!! tu eres: '+ datos[0].nombre+', Bienvenid@!'

        form(action="volver", method="GET" style="background-color:lightgray;")
         <input type="submit" name="volver" value="Cerrar Sesion" style="color:blue;height:60;width:100px;">
        