html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Rutas y formularios
    body
        <center style="background-color:pink;">
        h1 La solucion es:
        h1!= solucion

form(action="volver", method="POST")
 br
 br
 <input type="submit" name="volver" value="Volver" style="color:red;height:60;width:100px;">
